<div class="bg-white">
  <div class="max-w-7xl mx-auto pt-16 px-4 sm:px-6 lg:px-8">
    <div class="bg-indigo-700 rounded-lg drop-shadow-2xl overflow-hidden lg:grid lg:grid-cols-2 lg:gap-4">
      <div class="pt-10 pb-12 px-6 sm:pt-16 sm:px-16 lg:py-16 lg:pr-0 xl:py-20 xl:px-20">
        <div class="lg:self-center">
          <h1 class="text-3xl font-extrabold text-white sm:text-4xl">
            <span class="block">Trebekbot</span>
          </h1>
          <p class="mt-4 text-lg leading-6 text-white">Set up perpetual game of <i>Jeopardy!</i> in your Slack channels.</p>
          <p class="mt-4 text-sm leading-6 text-white">Unfortunately, Trebekbot is no longer available.</p>
        </div>
      </div>
      <div class="-mt-6 aspect-w-5 aspect-h-3 md:aspect-w-2 md:aspect-h-1">
        <%= image_tag 'screenshot.png', alt: 'A screenshot of trebekbot running in Slack', class: 'transform translate-x-6 translate-y-6 rounded-md object-cover object-left-top sm:translate-x-16 lg:translate-y-20' %>
      </div>
    </div>
  </div>
</div>

<div class="bg-white">
  <div class="max-w-7xl mx-auto pb-12 px-4 sm:pb-16 sm:px-6 lg:px-8 lg:pb-20">
    <dl class="mt-10 text-center sm:max-w-3xl sm:mx-auto sm:grid sm:grid-cols-3 sm:gap-8">
      <div class="flex flex-col">
        <dt class="order-2 mt-2 text-lg leading-6 font-normal text-gray-500"><%= "Game".pluralize(@games_count) %></dt>
        <dd class="order-1 text-5xl font-extrabold text-indigo-600"><%= number_with_delimiter(@games_count) %></dd>
      </div>
      <div class="flex flex-col mt-10 sm:mt-0">
        <dt class="order-2 mt-2 text-lg leading-6 font-normal text-gray-500"><%= "Player".pluralize(@players_count) %></dt>
        <dd class="order-1 text-5xl font-extrabold text-indigo-600"><%= number_with_delimiter(@players_count) %></dd>
      </div>
      <div class="flex flex-col mt-10 sm:mt-0">
        <dt class="order-2 mt-2 text-lg leading-6 font-normal text-gray-500"><%= "Team".pluralize(@teams_count) %></dt>
        <dd class="order-1 text-5xl font-extrabold text-indigo-600"><%= number_with_delimiter(@teams_count) %></dd>
      </div>
    </dl>
  </div>
</div>
