<!DOCTYPE html>
<html>
  <head>
    <title>Trebekbot</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="slack-app-id" content="A039RFAS6Q5">
    <% if @noindex %>
      <meta name="robots" content="noindex">
    <% end %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %>
    <% if ENV['DOMAIN'].present? %>
      <script defer data-domain="<%= ENV['DOMAIN'].gsub('www.', '') %>" src="/js/script.js"></script>
    <% end %>
  </head>

  <body>
    <div class="content">
      <% flash.each do |name, msg| -%>
        <p><%= msg %></p>
      <% end -%>
      <h1>Trebekbot</h1>
      <%= yield %>
      <footer class="footer">
        <p>Built by <a href="https://www.twitter.com/gesteves">@gesteves</a> • <a href="https://github.com/gesteves/trebekbot">GitHub</a> • Powered by <a href="http://jservice.io/">jService</a> • Just a fun side project, not affiliated with Jeopardy! in any way</p>
      </footer>
    </div>
  </body>
</html>
