<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="slack-app-id" content="A039RFAS6Q5">
    <% if @noindex %>
      <meta name="robots" content="noindex">
    <% end %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <% if ENV['PLAUSIBLE_DOMAIN'].present? %>
      <script defer data-domain="<%= ENV['PLAUSIBLE_DOMAIN'] %>" src="/js/script.js"></script>
    <% end %>
  </head>

  <body>
    <% flash.each do |name, msg| -%>
      <%= render partial: 'partials/flash', locals: { name: name, msg: msg } %>
    <% end -%>
    <%= yield %>
    <%= render partial: 'partials/footer' %>
  </body>
</html>
